body {
  margin: 0;
  width: 100vw;
}

/*
.grid > div {
  border: 1px solid black;
}

.mainContent > div {
  border: 1px solid black;
}
*/

.grid {
  display:grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
}

.header {
  display: grid;
  align-content: flex-start;
  text-align: center;
}

.mainContent {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

.answer {
  text-align: center;
  max-height: 50px;
}

.button {
  text-align: center;
}

.footer {
  display: grid;
  align-content: flex-end;
}
