body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/*
.grid > div {
  border: 1px solid black;
}

.mainContent > div {
  border: 1px solid black;
}
*/

.grid {
  display:grid;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

.header {
  display: grid;
  align-content: flex-start;
  text-align: center;
}

.mainContent {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
}

.answer {
  text-align: center;
}

.button {
  text-align: center;
}

.footer {
  display: grid;
}
