html {
  margin: 0;
  padding: 0;
}

/* Background image photo by Ales Krivec on Unsplash */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("bodybg.jpg");
  background-size: cover;
  background-position: right;
  font-family: 'Montserrat', sans-serif;
  color: #313030;
}

/*
.grid > div {
  border: 1px solid black;
}

.mainContent > div {
  border: 1px solid black;
}
*/

.grid {
  display:grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1.5em;
}

.header {
  display: grid;
  flex-direction: column;
  text-align: center;
  border-bottom: 3px solid black;
}

#nav {
  display: flex;
  justify-content: space-around;
}

#nav a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2em;
}

.mainContent {
  display: grid;
  margin-top: 1em;
  grid-template-rows: auto auto 2fr;
  text-align: center;
  width: 100%;
}

.answer {
  text-align: center;
  width: 100%;
}

.button {
  text-align: center;
  width: 100%;
}

#buttonCalculate {
  padding: 10px;
  border-radius: 0.5em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer img {
  width: 5em;
  height: auto;
}

@media screen and (max-width: 1024px) {
  #nav a {
    text-transform: lowercase;
    line-height: 1em;
  }
  .label {
    font-size: 1.5em;
  }
  #buttonCalculate {
    height: 5em;
    width: 10em;
  }
  #nav a {
    font-size: 1.5em;
  }
  .answer {
    font-size: 2em;
  }
  .footer {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    width: 40vw;
  }
